FLASK_APP=run.py
FLASK_ENV=development

SECRET_KEY=your_secret_key

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=uniswap_db
MYSQL_USER=uniswap_user
MYSQL_PASSWORD=your_password

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
